/* Reseta as margens padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  width: 100vw;
  min-height: 100vh;
}

/* Remove as travas de tamanho do Vite */
#root {
  width: 100%;
  margin: 0 auto;
}